@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft-Regular.woff2') format('woff2'),
        url('Minecraft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft Ten';
    src: url('MinecraftTen.woff2') format('woff2'),
        url('MinecraftTen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

