@font-face {
  font-family: 'Minecraft';
  src: url('../src/assets/minecraft-font/Minecraft-Regular.woff2') format('woff2'),
      url('../src/assets/minecraft-font/Minecraft-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft Ten';
  src: url('../src/assets/minecraft-font/MinecraftTen.woff2') format('woff2'),
      url('../src/assets/minecraft-font/MinecraftTen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("./assets/minecraft-bg.png");
  background-size: cover;
}

.header {
  width: 100%;
  height: 15%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Minecraft Ten';
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  font-size: 72px;
}

.header > ul {
  list-style: none;
  display: flex;
}

.header > ul > li {
  padding: 5px;
  margin: 5px;
  font-size: 22px;
}

.header > ul > li:hover {
  color: #ac8888;
}

.main {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.homeTitle {
  font-family: 'Minecraft Ten';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  margin: 10px;
}

.homeSubTitle {
  font-family: 'Minecraft';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  margin: 10px;
}

.cook {
  background-image: url(/src/assets/minecraft-cook-bg.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 20px;
}

.homeFooter {
  font-family: 'Minecraft';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  margin: 10px;
}

.menuContent {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;

}

.menuItem1Img {
  background: url(./assets/cake.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItem2Img {
  background: url(./assets/pie.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItem3Img {
  background: url(./assets/stew.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItem4Img {
  background: url(./assets/cookie.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItem5Img {
  background: url(./assets/Honey_Bottle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItem6Img {
  background: url(./assets/Potion_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.menuItemText {
  color: #fff;
  font-family: 'Minecraft';
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.contactContent {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Minecraft Ten';
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.contactImage {
  width: 750px;
  height: 420px;
  background: url(./assets/minecraft-restaurant2.jpg);
  background-size: cover;
}

.contactTitle {
  padding: 5px;
  font-size: 21px;
}

@media (max-width: 980px) {
  .header > h1 {
    font-size: 21px;
  }

  .header > ul > li {
    font-size: 16px;
  }

  .homeTitle {
    font-size: 15px;
  }

  .homeContent {
    padding: 5px;
  }

  .contactContent {
    align-items: flex-start;
    padding: 5px;
  }

  .contactTitle {
    font-size: 12px;
    padding: 0;
    margin: 10px 0;
  }

  .contactImage {
    width: 100%;
    height: 150px;
  }

  .cook {
    width: 200px;
    height: 200px;
  }

  .menuContent {
    grid-template-columns: 1fr;
    padding: 15px;
    margin: 50px;
    gap: 15px;
  }

  .menuItem {

  }
}